/***Original by Bon, very little modification by ProudBenzene***/
.book .cm-scroller {
padding-left: 10% !important;
padding-right: 10% !important;
} 

.book .cm-sizer,
.book .markdown-preview-sizer {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.book .inline-title {
    display: none;
}

.book img[alt="cover"] {
    display: inline !important;
    width: 350px !important;
    height: 500px !important;
    object-fit: cover;
}

.book.is-live-preview .metadata-container,
.book.markdown-preview-view .metadata-container {
    position: absolute;
    display: block;
    width: calc(80% - 350px);
    left: calc(10% + 350px);
    max-height: 500px;
    overflow-y: scroll
}

.internal-embed.markdown-embed img[alt="cover"] {
    display: block !important;
    width: initial !important;
}