/* From www.lingdaima.com */
button.by {
 font-size: 17px;
 font-family: inherit;
 font-weight: 700;
 padding: 4px;
 border-radius: 20px;
 border: none;
 color: black;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
 background: linear-gradient(0deg, rgba(255,213,0,1) 0%, rgba(255,213,0,1) 47%, rgba(0,91,187,1) 47%, rgba(0,91,187,1) 100%);
}

button.by .button-content {
 display: flex;
 align-items: center;
 background: white;
 padding: 0.7em 1.5em;
 padding-left: 1.2em;
 border-radius: 16px;
}

button.by svg {
 width: 22px;
 height: 22px;
 margin-right: 6px;
 color: #ff0000;
 transition: transform 0.3s;
}

button.by:hover svg {
 transform: scale(1.2);
}

