/*****空心悬浮渐变按钮*****/

button.btn-1 {
  background: transparent;
  position: relative;
  padding: 0px 18px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 30px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button.btn-1 span {
  margin: 10px;
}

button.btn-1::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button.btn-1:hover {
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
}

button.btn-1:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}
 