.note-card:nth-child(8n+1) {background-color: var(--color-red)}
.note-card:nth-child(8n+2) {background-color: var(--color-orange); color: black;}
.note-card:nth-child(8n+3) {background-color: var(--color-yellow); color: black;}
.note-card:nth-child(8n+4) {background-color: var(--color-green); color: black;}
.note-card:nth-child(8n+5) {background-color: var(--color-cyan)}
.note-card:nth-child(8n+6) {background-color: var(--color-blue)}
.note-card:nth-child(8n+7) {background-color: var(--color-purple)}
.note-card:nth-child(8n) {background-color: var(--color-pink)}