/* @settings

name: Code-tab
id: code-tab
settings:
  - 
    id: bc
    title: background color of tab items and tab contents
    title.zh: 标签页栏和正文的背景颜色
    type: variable-themed-color
    opacity: true
    format: hex
    default-light: '#f6f8fa'
    default-dark: '#1e1e1e'
  - 
    id: tabbbc
    title: the active tab item border bottom color
    title.zh: 选中的标签页的标签下方长条的颜色
    type: variable-themed-color
    opacity: true
    format: hex
    default-light: '#87a5c7'
    default-dark: '#87a5c7'
  - 
    id: tabbc
    title: active tab item background color
    title.zh: 选中的标签页的标签的背景颜色
    type: variable-themed-color
    opacity: true
    format: hex
    default-light: '#d7dcff52'
    default-dark: '#282c34'
  - 
    id: tabfc
    title: active tab item font color
    title.zh: 选中的标签页的标签的字体颜色
    type: variable-themed-color
    opacity: true
    format: hex
    default-light: '#0E0E0E'
    default-dark: '#D8DEE9'
  -
    id: tabop
    title: opacity of deactived tab item
    title.zh: 未被选中的标签页的标签的透明度
    type: variable-number-slider
    default: 0.5
    min: 0
    max: 1
    step: 0.1
  -
    id: tabs-overflow-type
    title: Select the scrolling way when there are too much tabs.  
    title.zh: 当标签页过多时的滚动方式，默认无法滚动
    type: class-select
    allowEmpty: false
    default: default-type
    options:
        - default-type
        - left-to-right
        - up-to-down
*/
.theme-dark {
  --bc: #1e1e1e;
  --tabbc: #282c34;
  --tabfc: #D8DEE9;
}

.theme-light {
  --bc: #f6f8fa;
  --tabbc: #d7dcff52;
  --tabfc: #0E0E0E;
}

body {
  --tabop: 0.5;
  --tabbbc: #87a5c7;
}

.tab-container .tabs .tab-item--active {
  background-color: var(--tabbc);
  border-bottom-color: var(--tabbbc) !important;  /* 选中的标签页下方长条的颜色 */
  color: #000000;
  opacity: 1 !important;
}

.tab-container .tabs .tab-item {
  white-space: nowrap;
  border-bottom-color: var(--tabbc);
  background-color: var(--bc);
  border-radius: 2px;
  color: var(--tabfc);
  opacity: var(--tabop);
}

.tab-container .tabs .tab-item>p{
  margin: auto;
}

.tab-container .tabs .tab-item:hover {
  border-bottom-color: #b4b4b4;
  transition: transform 250ms cubic-bezier(0, 0.5, 0.5, 1.1), border-bottom-color 250ms ease-out;
}

.tab-container .tab-contents {
  border: none;
  border-radius: 0.5em;
  background-color: var(--bc);
}

.tab-container .tab-contents .tab-content--active {
  padding-left: 20px;
}

:is(.markdown-preview-view, .markdown-rendered) pre {
  background-color: var(--bc) !important;
  padding: 0px;
}

.tab-container .tab-contents {
  max-height: 600px;
  overflow: auto;
}

.left-to-right .tab-container .tabs {
  display: flex;
  overflow-x: auto;
}

.left-to-right .tab-container .tabs::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.up-to-down .tab-container .tabs {
  max-height: 36.3px;
  overflow-y: auto;
}

.up-to-down .tab-container .tabs::-webkit-scrollbar {
  height: 0;
  width: 0;
} 