.view-content .markdown-preview-view .metadata-container,
.view-content .markdown-source-view .metadata-container {
    .metadata-content:not(:is(body.is-grabbing .metadata-content:hover)) {
        display: block;
        column-count: 2;
        column-rule: 1px dashed var(--metadata-border-color);
    }
}