div[data-type='thino_view'] .view-content:has(>.modern) {
  background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
}

div[data-type='thino_view'] {
  --border-color: rgba(113 119 144 / 25%);
}

.theme-dark div[data-type='thino_view'] {
  --theme-bg-color: rgba(1 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
}

div[data-type='thino_view'] .view-content .memos-moments-view.modern {
  background: var(--theme-bg-color) !important;
  backdrop-filter: blur(20px);
  width: 95% !important;
  height: 95% !important;
}

div[data-type=thino_view] .modern#page-wrapper:is(.memos-chat-view,.memos-moments-view,.memos-list-view,.memos-table-view,.memos-calendar-view,.memos-waterfall-view) .content-wrapper {
  background: transparent !important;
}

div[data-type=thino_view] .modern .moments-show-editor-btn {
  position: fixed !important;
  transform: translate(-251px, 7px);
}

div[data-type=thino_view] .modern .search-bar-inputer {
  width: 90%;
}

div[data-type=thino_view] .modern .search-bar-container>.quickly-action-wrapper {
  right: 80px;
}

div[data-type=thino_view] .modern .search-bar-container>.quickly-action-wrapper>.quickly-action-container {
  background: rgba(0, 0, 0, 0.07);
}

div[data-type=thino_view]:not(.mobile-view) .modern#page-wrapper .memos-sidebar-wrapper.left-sidebar {
  border-right: 1px solid var(--border-color);
}
div[data-type=thino_view]:not(.mobile-view) .modern#page-wrapper .memos-sidebar-wrapper.right-sidebar {
  border-left: 1px solid var(--border-color);
}

div[data-type=thino_view]:not(.mobile-view) .content-wrapper:has(.moments-view:not(.show-editor)) .section-header-container {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 8px;
  margin-top: 9px;
}

div[data-type=thino_view] .modern .user-banner-container>.userinfo-header-container{
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 4px;
}

div[data-type=thino_view] .modern .path-entry-wrapper,
div[data-type=thino_view] .modern .queries-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding-top: 4px;
  padding-bottom: 8px;
}

div[data-type=thino_view] .modern#page-wrapper:is(.memos-chat-view,.memos-moments-view,.memos-list-view,.memos-table-view,.memos-calendar-view,.memos-waterfall-view) .content-wrapper .section-header-container .memos-header-search-section .search-bar-container .search-bar-inputer, div[data-type=thino_view] .modern#page-wrapper:is(.memos-chat-view,.memos-moments-view,.memos-list-view,.memos-table-view,.memos-calendar-view,.memos-waterfall-view) .content-wrapper .memos-header-container .memos-header-search-section .search-bar-container .search-bar-inputer {
  background: rgba(155, 155, 155, 0.07);
}

div[data-type=thino_view]:not(.mobile-view) .modern#page-wrapper .memos-sidebar-wrapper.right-sidebar .tags-wrapper .tags-container .tag-item-container,
div[data-type=thino_view]:not(.mobile-view) .modern#page-wrapper .status-text-container.sidebar .status-sidebar-wrapper .status-text,
div[data-type=thino_view]:not(.mobile-view) .path-entry-wrapper>.path-entry-container {
  background-color: inherit;
  transition: background-color 0.3s;
}div[data-type=thino_view]:not(.mobile-view) .modern#page-wrapper .memos-sidebar-wrapper.right-sidebar .tags-wrapper .tags-container .tag-item-container:hover,
div[data-type=thino_view]:not(.mobile-view) .modern#page-wrapper .status-text-container.sidebar .status-sidebar-wrapper .status-text:hover,
div[data-type=thino_view]:not(.mobile-view) .path-entry-wrapper>.path-entry-container:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

div[data-type=thino_view] .moments-view .moments-view-background-wrapper .moments-view-background {
  display: none;
}

div[data-type=thino_view] .moments-view .moments-view-background-wrapper .moments-view-background-overlay {
  margin-top: -20px;
}

div[data-type=thino_view] .tags-wrapper>.tags-container>.tag-tip-container>.code-text {
  background: transparent;
}

div[data-type=thino_view]:not(.mobile-view) .memos-moments-view .section-header-container.memos-header-container {
  height: 40px;
  opacity: 1;
  transition: unset;
}

/* ---------------- theme-light ------------------ */

.theme-light div[data-type='thino_view'] {
  --theme-color: #3c3a3a;
  --theme-bg-color: rgba(219 229 235 / 40%);
  --border-color: rgba(191, 192, 199, 0.25);
  --inactive-color: #333333;
}

.theme-light div[data-type='thino_view'] .view-content:has(>.modern)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
}

div[data-type=thino_view] .queries-wrapper>.title-text>*,
div[data-type=thino_view]:not(.mobile-view) .modern#page-wrapper .status-text-container.sidebar .status-sidebar-header.title-text {
  color: var(--inactive-color);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Cascadia Mono', '苹方-简';
}

div[data-type=thino_view]:not(.mobile-view) .modern#page-wrapper .status-text-container.sidebar .status-sidebar-wrapper .status-text .type-text {
  color: var(--theme-color);
  font-weight: 400;
  font-family: 'Cascadia Mono', '苹方-简';
}

.path-entry-wrapper>.path-entry-container {
  color: var(--inactive-color);
  /* color: var(--theme-color); */
  font-weight: 400;
  font-family: 'Cascadia Mono', '苹方-简';
}

div[data-type=thino_view] .user-banner-container>.userinfo-header-container>.username-container>.username-text {
  font-family: 'Trajan Pro', '苹方-简';
}

div[data-type=thino_view] .modern .user-banner-container>.userinfo-header-container {
  padding-right: 10px;
}

.theme-light .heatmap-magenta {
  font-family: 'Cascadia Mono', '仓耳今楷03','苹方-简';
  font-weight: 400;
}

.theme-light div[data-type=thino_view] .moments-view .thino-moment-wrapper:after {
  background: linear-gradient(to right, rgb(0,0,0,0) 0%,  rgba(255, 255, 255, 0.5) 100%);
}


/* ---------------- lock --------------- */

.locked-screen-header-title {
  position: absolute;
  /* transform: translate(-377px, 374px); */
  color: whitesmoke;
  line-height: 80px;
  height: 80px;
  font-size: 5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Inter';
  z-index: 2;
  left: 5%;
  top: 80%;
}

.locked-screen-header-title::after {
  content: '🔆25°';
  margin-left: 5px;
}

div[data-type=thino_view] .locked-screen-wrapper::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80);
  background-size: cover;
  background-position: center;
}

div[data-type=thino_view] .locked-screen-wrapper:has(input[type='password']:focus)::before {
  filter: blur(8px);
  transform: scale(1.2);
  transition: filter 250ms, transform 250ms;
  z-index: 3;
}

div[data-type=thino_view] .locked-screen-wrapper .locked-screen-content .locked-screen-body {
  display: block;
  position: absolute;
  z-index: 4;
  top: 30%;
}

div[data-type=thino_view] .locked-screen-wrapper .locked-screen-content .locked-screen-body .locked-screen-body-content .locked-screen-body-content-inputer .locked-screen-body-content-input {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.06);
  
}

div[data-type=thino_view] .view-header {
  display: none;
}

.horizontal-main-container:has(div[data-type=thino_view]) + .status-bar {
  display: none;
}

div[data-type=thino_view] .section-header-container>.memos-header-search-section .memos-review-entry-wrapper, div[data-type=thino_view] .memos-header-container>.memos-header-search-section .memos-review-entry-wrapper,
div[data-type=thino_view] .section-header-container>.memos-header-search-section .memos-view-switcher-wrapper, div[data-type=thino_view] .memos-header-container>.memos-header-search-section .memos-view-switcher-wrapper,
div[data-type=thino_view] .section-header-container>.memos-header-search-section .thino-inline-filter-wrapper, div[data-type=thino_view] .memos-header-container>.memos-header-search-section .thino-inline-filter-wrapper{
  border: unset;
}