.theme-dark .graph-view.color-arrow {
  color: #689d6a;
}
.theme-dark .graph-view.color-fill-tag {
  color: #d79921;
}
.theme-dark .graph-view.color-fill-attachment {
  color: #458588;
}
.theme-dark .graph-view.color-fill-unresolved {
  color: #cc241d;
}
.theme-light .graph-view.color-fill-unresolved {
  color: #ff0800;
}
.graph-view.color-fill-focused {
  color: #ee7959;
}
.graph-view.color-fill {
  color: #bdb091;
}

.graph-view.color-line {
  color: rgba(115, 115, 115, 0.453);
} 